<h1>Listing agenda_docs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Who</th>
    <th>Date</th>
    <th>Content</th>
  </tr>

<% for agenda_doc in @agenda_docs %>
  <tr>
    <td><%=h agenda_doc.title %></td>
    <td><%=h agenda_doc.who %></td>
    <td><%=h agenda_doc.date %></td>
    <td><%=h agenda_doc.content %></td>
    <td><%= link_to 'Show', agenda_doc %></td>
    <td><%= link_to 'Edit', edit_agenda_doc_path(agenda_doc) %></td>
    <td><%= link_to 'Destroy', agenda_doc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New agenda_doc', new_agenda_doc_path %>
