!!! Transitional

%html
  %head
    %title
      Home
    
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'livequery'
    = javascript_include_tag 'jquery-form'
    = javascript_include_tag 'facebox/facebox'
    = javascript_include_tag 'application'    
    / = javascript_include_tag 'controllers/' + @controller.controller_name

    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'facebox'

        
    %script{:language=>"javascript"}
      = %Q{ var auth_token = '#{ form_authenticity_token }'; } 
  
  %body
    #wrapper
      #header
        = render :partial => 'shared/header'
    
      #main      
        #flash_container
          = flash[:notice]
          
        = yield
      
      #footer
        = render :partial => 'shared/footer'
